.cardContainerGal {
  width: 15rem;
  text-align: center;
  margin: 10px;
  background-color: whitesmoke;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  transition: all .2s ease-in-out;
}
    .cardContainerGal:hover {
       transform: scale(1.2);
    }

.cardBodyGal {
  font-weight: medium;
  display: block;
}

.cardBodyGal h3 {
  background-color: darkgray;
}
.sameLine {
  align-items: center;
}
.linkButton {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

 .discord {
  height: 50px;
  width: 50px;
}
.tourneyimg {
  background-size: cover;
  height: 15rem;
  width: 15rem;
}