.App {
  display:block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App ul {
  margin: 0;
  height: 75px;

}
.App li {
  margin: 5px;
  display: inline-block;
  list-style-type: none;
}

