.cardContainerStaff {
  width: 15rem;
  text-align: center;
  margin: 10px;
  background-color: whitesmoke;
  box-shadow: 5;
  position: relative;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  content: "";
}